@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-font-300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.roboto-font-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.roboto-font-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.roboto-font-700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.roboto-font-900 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.young-serif-font {
  font-family: "Young Serif", serif;
}

.averia-400 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
}

.averia-700 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
}

.pt-serif-400 {
  font-family: "PT Serif", serif;
  font-weight: 400;
}

.pt-serif-700 {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.varela-round {
  font-family: "Varela Round", sans-serif;
}

.nunito-400 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.nunito-500 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.nunito-600 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.nunito-700 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.nunito-800 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.quicksand-300 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.quicksand-500 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.quicksand-600 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

/* The following control the fade on the landing page */
.right-fade-10 {
  background-image: linear-gradient(
    270deg,
    #871014 0%,
    #871014 0%,
    transparent 10%
  );
}

.left-fade-10 {
  background-image: linear-gradient(
    90deg,
    #871014 0%,
    #871014 0%,
    transparent 10%
  );
}

.right-fade-17 {
  background-image: linear-gradient(
    270deg,
    #871014 0%,
    #871014 0%,
    transparent 17%
  );
}

.left-fade-17 {
  background-image: linear-gradient(
    90deg,
    #871014 0%,
    #871014 0%,
    transparent 17%
  );
}

.right-fade-23 {
  background-image: linear-gradient(
    270deg,
    #871014 0%,
    #871014 0%,
    transparent 23%
  );
}

.left-fade-23 {
  background-image: linear-gradient(
    90deg,
    #871014 0%,
    #871014 0%,
    transparent 23%
  );
}

.list-alpha-upper {
  list-style-type: upper-alpha;
}
